<div class="container">


    <mat-card style="margin-top: 10%; height: 580px; " class="mat-elevation-z8">

        <mat-card-header>
            <h2  style="margin: 0 auto;">Employee Data</h2>
        </mat-card-header>

        <mat-card-content style="padding-left:10%;">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-form-field" >
                            <mat-label>Id</mat-label>
                            <input matInput type="text" [(ngModel)]="data.id">
                        </mat-form-field>
                    </div>
                    

                    <div class="col">  
                        <mat-form-field class="example-form-field" >
                            <mat-label>First Name</mat-label>
                            <input  matInput type="text" [(ngModel)]="data.firstName">
                        </mat-form-field>    
                    </div>
                    <div class="col">  
                        <mat-form-field class="example-form-field" >
                            <mat-label>First Last Name</mat-label>
                            <input matInput type="text" [(ngModel)]="data.firstLastName">
                        </mat-form-field>
                    </div>
                    

                    
                
                </div>

                <div class="row">

                    <div class="col">  
                        <mat-form-field class="example-form-field" >
                            <mat-label>second Last Name</mat-label>
                            <input matInput type="text" [(ngModel)]="data.secondLastName">
                        </mat-form-field>
                    </div>

                    
                        <div class="col">  
                            <mat-form-field class="example-form-field" >
                            <mat-label>Country Of Employment</mat-label>
                            <input matInput type="text" [(ngModel)]="data.countryOfEmployment">
                        </mat-form-field>
                        </div>
                        
                        <div class="col"> 
                            <mat-form-field class="example-form-field" >
                            <mat-label>Id Type</mat-label>
                            <input matInput type="text" [(ngModel)]="data.idType">
                        </mat-form-field>
                        </div>

                </div>
                <div class="row">
                    
                    <div class="col"> 
                        <mat-form-field class="example-form-field" >
                            <mat-label>Id Number</mat-label>
                            <input matInput type="text" [(ngModel)]="data.idNumber">
                        </mat-form-field>
                        </div>

                    <div class="col"> 
                        <mat-form-field class="example-form-field" >
                            <mat-label>Area</mat-label>
                            <input matInput type="text" [(ngModel)]="data.area">
                        </mat-form-field>
                        </div>
                    <div class="col"> 
                        <mat-form-field class="example-form-field" >
                            <mat-label>Entry Date</mat-label>
                            <input matInput type="text" [(ngModel)]="data.entryDate">
                        </mat-form-field>
                        </div>
                    <!-- <div class="col"> 
                        <mat-form-field class="example-form-field" >
                            <mat-label>Status</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="data.status">
                        </mat-form-field>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col">  
                        <mat-form-field class="example-form-field" >
                            <mat-label>Other Name</mat-label>
                            <input matInput type="text" [(ngModel)]="data.otherName">
                        </mat-form-field>
                    </div>
                </div>
        </mat-card-content>

        <mat-card-actions>
            <div style="width: 100%; ">
                <button style="width:20%; margin-left: 40%; "  mat-raised-button color="primary" (click)="save()" > SAVE </button>
            </div>
        </mat-card-actions>
    </mat-card>
    
    
</div>