<mat-card class="edit-card">
    <div style="width: 50px; height: 50px;border-radius:100%; position: relative; left: 80%;" >
        <div *ngIf=" data.countryOfEmployment.includes('EE') " class="img-edit" style="background-image: url(../../../../assets/usa.jpg);"></div>
        <div *ngIf=" data.countryOfEmployment.includes('COL') " class="img-edit" style="background-image: url(../../../../assets/col.jpg);"></div>
     </div>
        <mat-card-header>
          
            <mat-card-title> {{data.firstName}} {{data.firstLastName}} {{data.secondLastName}} </mat-card-title>
            <mat-card-subtitle>{{data.countryOfEmployment}}
        
            </mat-card-subtitle>
        </mat-card-header>
       
        <mat-card-content>
           <div class="container">
                <div class="row">
                    <div class="col">  
                        <mat-form-field class="example-form-field" appearance="fill">
                            <input matInput type="text" [(ngModel)]="data.firstName">
                        </mat-form-field>    
                    </div>
                    <div class="col">  
                           <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" [(ngModel)]="data.firstLastName">
                        </mat-form-field>
                    </div>
                    <div class="col">  
                           <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>second Last Name</mat-label>
                            <input matInput type="text" [(ngModel)]="data.secondLastName">
                        </mat-form-field>
                    </div>
                    <div class="col">  
                           <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Country Of Employment</mat-label>
                            <input matInput type="text" [(ngModel)]="data.countryOfEmployment">
                          </mat-form-field>
                    </div>
                    <div class="col">  
                           <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="data.email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col"> 
                           <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Id Type</mat-label>
                            <input matInput type="text" [(ngModel)]="data.idType">
                          </mat-form-field>
                        </div>
                    <div class="col"> 
                           <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Id Number</mat-label>
                            <input matInput type="text" [(ngModel)]="data.idNumber">
                          </mat-form-field>
                        </div>
                    <div class="col"> 
                           <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Area</mat-label>
                            <input matInput type="text" [(ngModel)]="data.area">
                          </mat-form-field>
                        </div>
                    <div class="col"> 
                           <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Entry Date</mat-label>
                            <input matInput type="text" [(ngModel)]="data.entryDate">
                          </mat-form-field>
                        </div>
                    <!-- <div class="col"> 
                           <mat-form-field class="example-form-field" appearance="fill">
                            <mat-label>Status</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="data.status">
                          </mat-form-field>
                    </div> -->
                </div>
           </div>
        </mat-card-content>
        <mat-card-actions >
            <div style="width:100%; padding-left:40%">
                <button mat-raised-button color="primary" (click)="sendData()" >SAVE</button>
                <button mat-raised-button color="warn" (click)="closePanel()" >CANCEL</button>
            </div>
        </mat-card-actions>

</mat-card>