<ul class="nav nav-tabs">
	<li class="nav-item">
		<button mat-button routerLink="/">Employee List</button>
	</li>
	
	<li class="nav-item">
		<button mat-button routerLink="/finder">Finder</button>
	</li>
	
	<li class="nav-item">
		<button mat-button routerLink="/add">Add Employee</button>
	</li>

</ul>
<router-outlet></router-outlet>