.mat-row:nth-child(even){
    background-color: rgb(243, 244, 245);
}
        
.mat-row:nth-child(odd){
    background-color: white;
}
.row{
    width: 100%;
    /* background-color: blue; */
}
.col-2{
/* background-color: aqua; */
}

.col-1{
    /* background-color: blueviolet; */
}