<div class="container" style="margin-top: 10%;">
	<div class="row" >
		<div *ngIf="loading" class="col" style="margin-top: 10%;">
			<mat-spinner style="margin: 0 auto;"></mat-spinner>
		</div>
		<div *ngIf="!loading" class="col">

			<table mat-table [dataSource]="dataSource" class="table mat-elevation-z8">

				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef> Id </th>
					<td mat-cell *matCellDef="let element"> {{element.id}} </td>
				</ng-container>

				<ng-container matColumnDef="firstLastName">
					<th mat-header-cell *matHeaderCellDef>firstLastName </th>
					<td mat-cell *matCellDef="let element"> {{element.firstLastName}} </td>
				</ng-container>

				<ng-container matColumnDef="secondLastName">
					<th mat-header-cell *matHeaderCellDef>secondLastName </th>
					<td mat-cell *matCellDef="let element"> {{element.secondLastName}} </td>
				</ng-container>

				<ng-container matColumnDef="firstName">
					<th mat-header-cell *matHeaderCellDef>firstName </th>
					<td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
				</ng-container>

				<ng-container matColumnDef="otherName">
					<th mat-header-cell *matHeaderCellDef>otherName </th>
					<td mat-cell *matCellDef="let element"> {{element.otherName}} </td>
				</ng-container>

				<ng-container matColumnDef="countryOfEmployment">
					<th mat-header-cell *matHeaderCellDef>country </th>
					<td mat-cell *matCellDef="let element"> {{element.countryOfEmployment}} </td>
				</ng-container>

				<ng-container matColumnDef="idType">
					<th mat-header-cell *matHeaderCellDef>idType </th>
					<td mat-cell *matCellDef="let element"> {{element.idType}} </td>
				</ng-container>

				<ng-container matColumnDef="idNumber">
					<th mat-header-cell *matHeaderCellDef>idNumber </th>
					<td mat-cell *matCellDef="let element"> {{element.idNumber}} </td>
				</ng-container>

				<ng-container matColumnDef="email">
					<th mat-header-cell *matHeaderCellDef>email </th>
					<td mat-cell *matCellDef="let element"> {{element.email}} </td>
				</ng-container>

				<ng-container matColumnDef="entryDate">
					<th mat-header-cell *matHeaderCellDef>entryDate </th>
					<td mat-cell *matCellDef="let element"> {{element.entryDate}} </td>
				</ng-container>

				<ng-container matColumnDef="area">
					<th mat-header-cell *matHeaderCellDef>area </th>
					<td mat-cell *matCellDef="let element"> {{element.area}} </td>
				</ng-container>

				<ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef>status </th>
					<td mat-cell *matCellDef="let element"> {{element.status}} </td>
				</ng-container>

				<ng-container matColumnDef="registrationDate">
					<th mat-header-cell *matHeaderCellDef>registrationDate </th>
					<td mat-cell *matCellDef="let element"> {{element.registrationDate}} </td>
				</ng-container>

				<ng-container matColumnDef="editionDate">
					<th mat-header-cell *matHeaderCellDef>editionDate </th>
					<td mat-cell *matCellDef="let element"> {{element.editionDate}} </td>
				</ng-container>

				<ng-container matColumnDef="Edit">
					<th mat-header-cell *matHeaderCellDef> Edit</th>
					<td mat-cell *matCellDef="let element">
						<button (click)="edit(element)" mat-icon-button
							aria-label="Example icon button with a vertical three dot icon">
							<mat-icon>edit</mat-icon>
						</button>
					</td>
				</ng-container>


				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div *ngIf="isEdit" class="col-md-12">
			<app-edit-card [data]="auxData"> </app-edit-card>
		</div>
	</div>
</div>